html {
    --background: #000729;
    --font-color: #D0D0D0;
    --accent: #FF6868;
    --secondary: #FF9966;
    background-color: var(--background);
}

a {
    color: var(--secondary);
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    color: var(--accent);
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: var(--font-color);
    font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.description {
    max-width: 30em;
    margin: 0 auto 3em auto;
    padding: 0 1em;
    box-sizing: border-box;
}

.headline {
    font-size: 1.5em;
    padding-bottom: 1em;
    border-bottom: 0.5px solid var(--font-color)
}

.breeze {
    display: inline-block;
    height: 0.75em;
    vertical-align: baseline;
    margin-right: 0.3em;
}

.logo {
    width: 6em;
    margin: 3em auto;
    display: block;
}

.iphone {
    width: 17em;
    max-width: 90%;
    margin: 2em auto;
    display: block;
}

.badges {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3em;
}

.badge {
    height: 2.5em;
    margin: 0 0.1em;
}

.badge-link {
    transition: opacity 0.2s;
}

.badge-link:hover {
    opacity: 0.7;
}

.about {
    max-width: 30em;
    margin: 0 auto 5em auto;
    padding: 0 1em;
    box-sizing: border-box;
    text-align: center;
}